# please run the following command to set up the env file before running docker-compose up:
#
# cp .env.example .env
# docker-compose up --build

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
SECRET_KEY_BASE=insecure_key_for_dev
DB_HOST=db
DB_USERNAME=postgres
DB_PASSWORD=postgres
